<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <title th:text="${title}"></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="author" content="Alex Tsurkin"/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700'
          rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" type="text/css" href="/resources/css/semantic-imports.css"
          th:href="@{/resources/css/semantic-imports.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/semantic.css" th:href="@{/resources/css/semantic.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/body.css" th:href="@{/resources/css/body.css}"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/grabber.css" th:href="@{/resources/css/grabber.css}"/>
    <script src="/resources/js/jquery/jquery.min.js" th:src="@{/resources/js/jquery/jquery.min.js}"></script>


    <script src="http://semantic-ui.com/javascript/library/history.js"></script>
    <script src="http://semantic-ui.com/javascript/library/easing.js"></script>
    <script src="http://semantic-ui.com/javascript/library/ace/ace.js"></script>
    <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
    <script src="/resources/js/jquery/waypoints.min.js" th:src="@{/resources/js/jquery/waypoints.min.js}"></script>
    <script src="/resources/js/jquery/waypoints-sticky.min.js" th:src="@{/resources/js/jquery/waypoints-sticky.min.js}"></script>
    <script src="/resources/js/semantic/semantic.min.js" th:src="@{/resources/js/semantic/semantic.min.js}"></script>
    <script src="/resources/js/jquery/jquery.synctranslit.min.js" th:src="@{/resources/js/jquery/jquery.synctranslit.min.js}"></script>
    <script src="/resources/js/semantic.js" th:src="@{/resources/js/semantic.js}"></script>
    <script src="/resources/js/kendo/kendo.all.min.js" th:src="@{/resources/js/other/angular.min.js}"></script>
    <script src="/resources/js/app.js" th:src="@{/resources/js/app.js}"></script>
    <script src="/resources/js/app.js" th:src="@{/resources/js/grabber.js}"></script>
    <!--kendo ui-->
    <script src="/resources/js/kendo/kendo.all.min.js" th:src="@{/resources/js/kendo/kendo.all.min.js}"></script>
    <link href="/resources/css/kendo/kendo.common.min.css" rel="stylesheet" th:href="@{/resources/css/kendo/kendo.common.min.css}"/>
    <link href="/resources/css/kendo/kendo.default.min.css" rel="stylesheet" th:href="@{/resources/css/kendo/kendo.default.min.css}"/>
    <link href="/resources/css/kendo/kendo.dataviz.min.css" rel="stylesheet" th:href="@{/resources/css/kendo/kendo.dataviz.min.css}"/>
    <link href="/resources/css/kendo/kendo.dataviz.default.min.css" rel="stylesheet" th:href="@{/resources/css/kendo/kendo.dataviz.default.min.css}"/>
</head>
<body>
<div th:fragment="header" class="ui fixed transparent inverted main menu">
    <div class="container">
        <a class="launch item"><i class="icon list layout"></i> Content</a>

        <div class="title item">
            <b>UA.Alfabrok.</b>Grabber
        </div>

        <div class="right menu">
            <div class="section ui dropdown link item">
                <span class="count" th:text="${#locale}">locale</span>

                <div class="menu hide">
                    <div class="active item">
                        <a href="?lang=RU">RU</a>
                    </div>
                    <div class="item">
                        <a href="?lang=EN">EN</a>
                    </div>
                </div>
            </div>

            <div sec:authorize="isAuthenticated()" class="vertically fitted borderless item" th:inline="text">
                Hello [[${#httpServletRequest.remoteUser}]]!
            </div>
            <a sec:authorize="isAuthenticated()" class="popup icon github item" data-content="Exit"
               href="../logout" th:href="@{/logout}">
                <i class="sign out icon"></i>
            </a>
        </div>
    </div>
</div>
<div th:fragment="sidebar" class="ui large vertical inverted labeled icon sidebar menu" id="menu">
    <a class="hide item">
        <i class="close icon"></i> Close Menu
    </a>

    <div class="item">
        <a href="../admin/grabber/" th:href="@{/admin/grabber/}"> <b th:text="#{menu.grabber}">grabber</b> </a>

        <div class="menu">
            <a class="item" href="../admin/grabber/task/" th:href="@{/admin/grabber/task/}" th:text="#{menu.grabber.tasks}">tasks</a>
            <a class="item" href="../admin/grabber/setting/" th:href="@{/admin/grabber/setting/}" th:text="#{menu.grabber.setting}">setting</a>
            <a class="item" href="../admin/grabber/history/" th:href="@{/admin/grabber/history/}" th:text="#{menu.grabber.history}">history</a>
        </div>
    </div>
    <div class="item">
        <a href="../admin/realry/" th:href="@{/admin/realty/}"> <b th:text="#{menu.realty}">realty</b> </a>

        <div class="menu">
            <a class="item" href="../admin/realty/option/" th:href="@{/admin/realty/option/}" th:text="#{menu.realty.option}">option</a>
            <a class="item" href="../admin/realty/history/" th:href="@{/admin/realty/history/}" th:text="#{menu.realty.history}">realty history</a>
        </div>
    </div>
    <div class="item">
        <a href="/">
            <b th:text="#{menu.administration}">administration</b>
        </a>

        <div class="menu">
            <a class="item" href="../admin/user/" th:href="@{/admin/user/}" th:text="#{menu.users}">users</a>
            <a class="item" href="../admin/roles/" th:href="@{/admin/role/}" th:text="#{menu.settings.user.roles}">user roles</a>
            <a class="item" href="../admin/dictionary/" th:href="@{/admin/dictionary/}" th:text="#{menu.settings.dictionaries}">dictionaries</a>
            <a class="item" href="../admin/dictionary/values/" th:href="@{/admin/dictionary/value/}" th:text="#{menu.settings.dictionaries.values}">dictionaries values</a>
            <a class="item" href="../admin/dictionary/sync/" th:href="@{/admin/dictionary/sync/}" th:text="#{menu.dictionary.sync}">dictionary sync</a>
            <a class="item" href="../admin/dictionary/sync/history/" th:href="@{/admin/dictionary/sync/history/}" th:text="#{menu.dictionary.sync.history}">dictionary sync history</a>
        </div>
    </div>
</div>
<div th:fragment="sidebar-launch" class="ui black huge launch right attached button" style="width: 70px;">
    <i class="icon list layout"></i>
    <span class="text" style="display: none;">Menu</span>
</div>
<div th:fragment="footer">
    <p>Footer</p>
</div>
</body>
</html>