<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/layout :: head (title=#{task.detail.page.title})"></head>
<body id="grabber">
<div th:replace="admin/fragments/layout :: sidebar"></div>
<div th:replace="admin/fragments/layout :: sidebar-launch"></div>
<div th:replace="admin/fragments/layout :: header"></div>
<div class="segment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header" th:text="#{task.detail.page.title}"></h1>
        </div>
        <div class="ui breadcrumb">
            <a class="section" th:text="#{menu.home}" th:href="@{/admin/}">home</a>
            <i class="right arrow icon divider"></i>
            <a class="section" th:text="#{grabber.task.list.page.title}" th:href="@{/admin/grabber/task/}">users</a>
            <i class="right arrow icon divider"></i>

            <div class="active section" th:text="#{task.detail.page.title}"></div>
        </div>
    </div>
</div>
<div class="main container">
    <div class="sticky-wrapper">
        <div class="peek">
            <div class="ui vertical pointing secondary menu">
                <a class="active item" th:text="#{task.item}">user</a>
                <a class="item" th:text="#{location.item}">location</a>
                <a class="item" th:text="#{task.history}">history</a>

                <div class="ui vertical buttons" style="margin:30px 0 0 10px">
                    <a class="ui green button" href="/admin/task/1/edit"
                       th:href="@{|/admin/grabber/task/${task.id}/edit|}">Edit</a>
                    <a class="ui red button">Delete </a>
                </div>
            </div>
        </div>
    </div>
    <h2 class="ui dividing header" th:text="#{task.item}">user</h2>

    <table class="ui table basic">
        <tbody>
        <tr>
            <td class="left-t-head" th:text="#{task.url}"></td>
            <td th:text="${task.url}"></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{task.ownerType}"></td>
            <td th:text="${task.ownerType.name}"></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{task.implementationType}"></td>
            <td th:text="${task.implementationType.name}"></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{task.isRent}"></td>
            <td><i th:if="${task['isRent']}" class="checkmark icon"></i></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{task.isSale}"></td>
            <td><i th:if="${task['isSale']}" class="checkmark icon"></i></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{task.isChange}"></td>
            <td><i th:if="${task['isChange']}" class="checkmark icon"></i></td>
        </tr>
        </tbody>
    </table>

    <h2 class="ui dividing header" th:text="#{location.item}">user</h2>

    <table class="ui table basic">
        <tbody>
        <tr>
            <td class="left-t-head" th:text="#{location.country}"></td>
            <td></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{location.region}"></td>
            <td></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{location.district}"></td>
            <td></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{location.city}"></td>
            <td></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{location.area.city}"></td>
            <td></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{location.district.city}"></td>
            <td></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{location.street}"></td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <h2 class="ui dividing header" th:text="#{task.history}">history</h2>
</div>
</body>
</html>