<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/layout :: head (title=#{grabber.sourceSetting.detail.page.title})"></head>
<body id="grabber">
<div th:replace="admin/fragments/layout :: sidebar"></div>
<div th:replace="admin/fragments/layout :: sidebar-launch"></div>
<div th:replace="admin/fragments/layout :: header"></div>
<div class="segment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header" th:text="#{grabber.sourceSetting.detail.page.title}"></h1>
        </div>
        <div class="ui breadcrumb">
            <a class="section" th:text="#{menu.home}" th:href="@{/admin/}">home</a>
            <i class="right arrow icon divider"></i>
            <a class="section" th:text="#{grabber.sourceSettings.list.page.title}" th:href="@{/admin/grabber/sourceSetting/}">sourceSettings</a>
            <i class="right arrow icon divider"></i>

            <div class="active section" th:text="#{grabber.sourceSetting.detail.page.title}"></div>
        </div>
    </div>
</div>
<div class="main container">
    <div class="sticky-wrapper">
        <div class="peek">
            <div class="ui vertical pointing secondary menu">
                <div class="ui vertical buttons">
                    <a class="ui green button" href="/admin/grabber/sourceSetting/edit"
                       th:href="@{|/admin/grabber/sourceSetting/${sourceSetting.id}/edit|}">Edit</a>
                    <a class="ui red button">Delete </a>
                </div>
            </div>
        </div>
    </div>

    <table class="ui table basic">
        <tbody>
        <tr>
            <td class="left-t-head" th:text="#{sourceSetting.siteCode}"></td>
            <td th:text="${sourceSetting.siteCode}"></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{sourceSetting.name}"></td>
            <td th:text="${sourceSetting.name}"></td>
        </tr>
        <tr>
            <td class="left-t-head" th:text="#{sourceSetting.value}"></td>
            <td th:text="${sourceSetting.value}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>