<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/layout :: head"></head>
<body id="grabber">
<div th:replace="admin/fragments/layout :: sidebar"></div>
<div th:replace="admin/fragments/layout :: sidebar-launch"></div>
<div th:replace="admin/fragments/layout :: header"></div>
<div class="segment">
    <div class="container">
        <div class="introduction">
            <h1 class="ui dividing header">
                Admin home page
            </h1>
        </div>
        <div class="ui breadcrumb">
            <a class="section">Food</a>
            <i class="right arrow icon divider"></i>
            <a class="section">Fruit</a>
            <i class="right arrow icon divider"></i>
            <div class="active section">Apples</div>
        </div>
    </div>
</div>
</body>
</html>